{% extends "base.html" %}

{% block title %}{{ _('Archives - %(sitename)s', sitename=SITENAME) }}{% endblock %}

{% block breadcrumb_list %}
<li><a href="{{ SITEURL }}">{{ _('Home') }}</a></li>
<li>{{ _('Archives') }}</li>
{% endblock breadcrumb_list %}

{% block content %}
<h1>{{ _('Archives for %(sitename)s', sitename=SITENAME) }}</h1>

<dl>
{% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>
{% endblock %}
