{% extends "index.html" %}

{% block title %}{{ _('%(tag)s tag - %(sitename)s', sitename=SITENAME, tag=tag) }}{% endblock %}

{% block meta %}
<meta name="description" content="{{ _('%(sitename)s: list of posts tagged %(tag)s', sitename=SITENAME, tag=tag) }}">
{% endblock meta %}

{% if ENABLE_BREADCRUMBS | default(True) %}
    {% block breadcrumbs %}
    <div class="breadcrumb{% if not BREADCRUMBS_ON_MOBILE | default(False) %} mobile-hide{% endif %}">
        <ol>
            <li><a href="{{ SITEURL }}">{{ _('Home') }}</a></li>
            <li>{{ _('Tag: %(tag)s', tag=tag) }}</li>
        </ol>
    </div>
    {% endblock breadcrumbs %}
{% endif %}

{% block breadcrumb_list %}
{% endblock breadcrumb_list %}

{% block content_title %}
<h1>{{ _('Posts tagged %(tag)s', tag=tag) }}</h1>
{% endblock %}
