:root{
    --header-color: #3E454C;
    --hover-sidebar-color: #ACACAC;
    --sidebar-active-color: #E58D00;
    --btn-hover-color: #ACACAC;
    --btn-hover-text-color: #000;
    --main-color: #1C1C1C;
    --background-color: #333;
    --main-text-color: #FFF;
    --header-text-color: #FFF;
    --link-color: #FF9D00;
    --footer-link-color: #FF9D00;
    --featured-background-color: #222;
    --share-box-background-color: #222;
}

/* This is useful for avoid too bright stuff on dark mode*/
img{
    filter: brightness(.8) contrast(1.2);
}
